<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Clone - Password Reset Request</title>
    <%- include('./style') %>
  </head>

  <body>
    <div class="container">
      <h1>Hi <%= name %></h1>
      <h3>
        There was a request to change the password for your Instagram Clone
        account.
      </h3>

      <p>
        If you did not make this request, you can ignore this email. Otherwise,
        please use the OTP below to change your password.
      </p>

      <p>The below OTP will expire in 10 mins</p>

      <a class="primary"><%= otp %></a>
    </div>

    <footer>
      <a href=""">hello@instagram-clone.com</a>
      <p>Copyright &copy; 2024 Instagram Clone</p>
    </footer>
  </body>
</html>
