<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Instagram Clone</title>
    <%- include('./style') %>
  </head>

  <body>
    <div class="container">
      <h1>Hello <%= name %></h1>
      <h3>Welcome To Instagram Clone!</h3>

      <p>
        As a Instagram Clone you can now connect with your friends and family
        and save the world.
      </p>
    </div>

    <footer>
      <a href="">hello@instagram-clone.com</a>
      <p>Copyright &copy; 2024 Instagram Clone</p>
    </footer>
  </body>
</html>
